/* On travaille sur la balise body, donc sur TOUTE la page */
body
{
    margin: 0 auto;
    background-color: white;
    color: black;
}

/* Travail sur la partie header */
header{
    background-color: grey;
    background-size: cover;
    display: flex;
    padding: 20px;
    align-items: center;
}

header img {
  width: 50%;
  /* filter: invert(100%); */
}

/* Menu de navigation */
.nav__items{
    display: flex;
    list-style: None;
    width: 400px;
    margin-left: 50px;
    justify-content: space-between;
}

.nav__to{
    font-size: large;
    text-transform: uppercase;
    color: black;
}

/* Liste des films */
section.BestMovie{
    border: 5px black solid;
    margin-top: 25px;
    height: 100px;
    
}

.BestMovie img{
    background-color: green;
    display: flex;
    margin-left: 50%;
}

section.carousel{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.conteneur{
    display: flex;
    /* width: 400px; */
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.element{
    border: 1px black solid;
    background-color: lightgrey;
    margin: 5px;
    width: 150px;
    height: 150px;
}

.carousel-items{
    overflow: hidden;
    display: inline-block;
    text-align: center;
    display: flex;
    /* z-index: 1; */
}

/* .carousel img{
    display: none;
}
img.active{
    display: flex; */
/* } */

.hidden{
    display: none;
}
.carousel-items img:hover{
    transform: scale(1.1);
    /* z-index: 5; */
}


.carousel-button{
    position: absolute;
    opacity: 2;
    background-color: white;
    cursor: pointer;
    border: none;
}

.carousel-button:hover,
.carousel-button:focus{
    color: white;
    background-color: rgba(0, 0, 0, .3);
    outline: 1px solid black;
    transform: scale(1.5);
}

.modal-container{
    display: none;
    position: fixed;
    top: 0;
    width: 100vh;
    height: 100vh;
}
.modal-container.active{
    display: block;
}
.overlay{
    position: absolute;
    width: 1000%;
    height: 1000%;
    background: #333333d3;
}

.modal{
    width: 95%;
    max-width: 500px;
    min-width: 300px;
    padding: 30px;
    background: rgb(71, 235, 172);
    border-radius: 5px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close-modal{
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: #ff365e;
    color: #fff;
}

.modal p{
    line-height: 1.4;
    margin-bottom: 10px;
}